<div class="search-box-outer">
  <div class="search-box-inner">
    <ul class="search-area">
      <li class="search-tag"><p>Search</p></li>
      <li class="search-field"><input type="text"></li>
    </ul>
    <div class="results">
    </div>
  </div>
</div>
