$black: #000;

.to-watch-list {
  border: 1px solid $black;
  height: 400px;
  margin-top: 100px;
  width: 300px;
}

.search-box{
  border: 1px solid $black;
  height: 200px;
  margin: 0 auto;
  margin-top: 100px;
  width: 700px;
}

.search-field {
  border: 1px solid $black;
  float: right;
  margin: 0 auto;
  margin-left: -25px;
  width: 200px;
}

.search-header {
  border: 1px solid $black;
  height: 10px;
  width: 100%;
}

.search-results-box {
  border: 1px solid $black;
  height: 200px;
  width: 200px;
}
