<ol>
{{#each model as |playlist|}}
  <li>
    <h3>{{playlist.episode.title}}</h3>
    {{remove-from-queue-button playlist=playlist delete='removeFromPlaylist'}}
    {{rating-button patch='rate'}}
  </li>
{{/each}}
</ol>
