{{my-application signOut="signOut"}}
<h1> Simpsons and Chill! </h1>
<nav class="nav-bar">
  <button type="button" id="register-button" class="btn btn-default navbar-btn register">REGISTER</button>
  <button type="button" id="sign-in-button" class="btn btn-default navbar-btn sign-in">SIGN IN</button>
</nav>

<div class="modal fade" id="registerModal" tabindex="-1" ole="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" id="register-error" role="alert">
          <strong>Whoops!</strong> Something went wrong.
        </div>
        <form id="register-form" class="register">
          <input name="credentials[userName]" type="text" maxlength=20 placeholder="Username">
          <input name="credentials[email]" type="text" placeholder="email"
          onfocus="this.placeholder =''"value="">
          <input name="credentials[password]" type="password"
          placeholder="password" maxlength=20 onfocus="this.placeholder =''"
            value="">
          <input name="credentials[password_confirmation]" type="password"
          placeholder="confirm password" maxlength=20 onfocus="this.placeholder =''"
            value="">
          <input type="Submit" value="Sign Up!">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signInModal" tabindex="-1" ole="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Sign In</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" id="sign-in-error" role="alert">
        <strong>Whoops!</strong> Your username or password is incorrect.
      </div>
      <form id="sign-in-form" class="sign-in">
        <input name="credentials[email]" type="text" placeholder="email"
        onfocus="this.placeholder =''" value="">
        <input name="credentials[password]" type="password"
        placeholder="password" onfocus="this.placeholder =''"
          value="">
          <input type="Submit" value="Sign In!">
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="changePasswordModal" tabindex="-1" ole="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Change Password</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" id="change-password-error" role="alert">
        <strong>Whoops!</strong> Your password was not changed successfully.
      </div>
      <form id="change-password-form" class="change-password">
        <input name="passwords[old]" type="password"
        placeholder="old password" onfocus="this.placeholder =''" value="">
        <input name="passwords[new]" type="password" placeholder="new password"
        onfocus="this.placeholder =''" maxlength=20 value="">
        <input type="Submit" value="Change password">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

{{outlet}}
